<div class="container">
    <hr />
    <h1>web app</h1>
    <hr />

    <input id="inp1" />
    <input id="inp2" />

    <button id="save-btn">save</button>
    <button id="load-btn">load</button>


    <script src="client-app.js"></script>


</div>